body {
	font-family: Helvetica, Arial, "sans serif";
	font-size: 12px;
}

video, #info, #description {
	display: none;
}

#video-demo {
	display: none;
	position: absolute;
	top: 150px;
	left: 10px;
}

#canvas-source {
	display: none;
	position: absolute;
	top: 40px;
	left: 10px;
}

#canvas-blended {
	display: none;
	position: absolute;
	top: 407px;
	left: 500px;
	width: 150px;
	height: 113px;
}

#arrows {
	display:none;
	position: absolute;
	top: 40px;
	left: 10px;
	margin: 0px;
	padding: 0px;
	border: 1px solid yellow;
}
#arrows #back {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:1;
}
#arrows #front {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:2;
	width: 640px;
	margin: 0px;
	padding: 0px;
}
#arrows #back img, #arrows #front img {
	margin: 0px;
	padding: 0px;
        position: absolute;
}
#arrows #front img {
	display: none;
}
#arrows #arrow0b { left: 107px; top: 300px; }
#arrows #arrow1b { left: 284px; top: 400px; }
#arrows #arrow2b { left: 461px; top: 300px; }
#arrows #arrow0 { left: 107px; top: 300px; }
#arrows #arrow1 { left: 284px; top: 400px; }
#arrows #arrow2 { left: 461px; top: 300px; }
