@import "bootstrap-less/bootstrap.less"; 
html, body, .game-container, .pane {
    height: 100%;
    overflow:hidden;
}

.left-pane {
    height:100%;
    background: @red;
}

.right-pane {
    height:100%;
    background: @blue;
}
