@import "bootstrap-less/bootstrap.less"; 
@import "http://fonts.googleapis.com/css?family=Erica+One&ignore=.css";

@arrow_size: 135px;
@arrow_hit_size: 160px;
@spot_size: 180px;
@hit_buffer: 50px; /* How much top margin for the hit zones */
@floor_marker_width: 100px;
@floor_marker_height: 100px;

html, body, #game-container, .game-container, .pane #user-meta-container {
    height: 100%;
    overflow:hidden;
}

#user-meta-container {
    height: 100%;
    overflow: auto;
}

#game-container {
    position:relative;
}

.full-container {
    height: 100%;
}

.left-pane {
    height:100%;
    background: @white;
}

.right-pane {
    height:100%;
}

#game-container {
    position: relative;
}

#arrows-container {
    float: initial;
    height: 100%;
    padding-top: @hit_buffer;
}

.arrow-lane {
    position: relative;
    height: 100%;
}

.arrow {
    position: absolute;
    bottom: 0px;
    height: @arrow_size;
    width: @arrow_size;
    left: 50%;
    margin-left: -1 * @arrow_size / 2;
    margin-top: -1 * @arrow_size / 2;
    
    background-size: 100%;

    &.left {
        background-image: url('../img/left.png');
    }
    &.right {
        background-image: url('../img/right.png');
    }
    &.up {
        background-image: url('../img/up.png');
    }
    &.down {
        background-image: url('../img/down.png');
    }
}
.glow {
    -webkit-transition: opacity .3s linear, all .3s linear;
    -moz-transition: opacity .3s linear, all .3s linear;
    height: @arrow_hit_size;
    width: @arrow_hit_size;
    margin-left: -1 * @arrow_hit_size / 2;
    opacity: 0;

}

#arrow-spots {
    float: left;
    width: 100%;
    height: @spot_size;
    left: 0;
    top: 50;
    padding-top: @hit_buffer;
}

.spot-container {
    position: relative;
    height: 100%;
}
.spot {
    position: relative;
    height: @spot_size;
    width: @spot_size;
    left: 50%;
    margin-left: -1 * @spot_size / 2;

    background-size: 100%;    
}

.left-spot {
    background-image: url('../img/left_zone.png');
}
.left-hit {
    background-image: url('../img/left_zone_hit.png');
}


.right-spot {
    background-image: url('../img/right_zone.png');
}
.right-hit {
    background-image: url('../img/right_zone_hit.png');
}


.down-spot {
    background-image: url('../img/down_zone.png');
}
.down-hit {
    background-image: url('../img/down_zone_hit.png');
}


.profile-pic {
    width: 50px;
}

.leaderboard {
    overflow: auto;
}

#webcam {
    position: absolute;
    display: none;
}

#canvas-source {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;

}

#canvas-blended {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.arrows {
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
}

#arrow0 { 
    .arrows;
    left: 22% - @floor_marker_width / 2px;
    top: 69.7% - @floor_marker_height / 2px;
}
#arrow1 { 
    .arrows;
    left: 49.8% - @floor_marker_width / 2px;
     top: 90.6% - @floor_marker_height / 2px; }
#arrow2 { 
    .arrows;
    left: 77.5% - @floor_marker_width / 2px;
     top: 69.7% - @floor_marker_height / 2px; }

#exclamation {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    font-family: 'Erica One', cursive;
    text-transform: uppercase;
    font-size: 40px;
    text-outline: 2px @black;
    text-shadow: 0px 1px 0 rgba(0,0,0,.25);
    z-index: 3;
    .text {
        opacity: 1.0;
        .transition(opacity .5s linear);
        &.fade {
            opacity: 0.0;
        }
    }
    &.perfect {
        color: @yellow;
    }
    &.great {
        color: @green;
    }
    &.good {
        color: darken(@green, 15%);
    }
    &.bad {
        color: darken(@red, 15%);
    }
}
